<div class="container-fluid" style="background-color:#ADD8E6;color:#00008b;font-style:italic;font-family:cursive;padding:100px;border:2px solid black;box-shadow:2px black">
    <div class="mt-10 row">
        <p style="font-size:xx-large;font-display:block;text-align:center;">SSPM Movie Store is a place where you can get all kinds of movies in much handy way. </p>
        <p style="font-size:xx-large;font-display:block;text-align:center;"> Movies can be delivered to you very fast.</p>
        <p style="font-size:large;font-display:block;text-align:center;">Enjoy the Buying Movies.</p>
    </div>
</div>