<div class="container-fluid" style="background-color:burlywood;color:#990011FF;font-style:italic;font-family:cursive;padding:100px;border:2px solid black;box-shadow:2px black">
    <div class="mt-10 row">
        <p style="font-size:xx-large;font-display:block;text-align:center;">Västra Svedengatan </p>
        <p style="font-size:xx-large;font-display:block;text-align:center;"> Linköping</p>
        <p style="font-size:large;font-display:block;text-align:center;">582 73</p>
        <p style="font-size:large;font-display:block;text-align:center;">Email : contact@SSPMMovieStores.com</p>
    </div>
</div>