@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container" >
    <div class="row ">
        <p style="text-align:center; margin-top:100px;"><b>Thank you for placing the Order. Your Order will delivered Soon.</b></p>
    </div>

</div>
